.border-rounded {border-radius: 6px;}

/* Viewer container */
section {width: 920px; height: 500px; padding: 20px; border: 1px solid #CCC; position: absolute; background-color: #fafafa; box-shadow: 0 2px 6px rgba(0, 0, 0, .2); font-family: Arial, 'sans-serif';}


.image-container {float: left; width: 600px;}

/* 360 view components */
.image-viewer {height: 450px; background-color: #fff; border: 1px solid #D9D9D9; overflow: hidden; position: relative; border-radius: 4px;}
.image-viewer .image-list {display: none; list-style: none; margin: 0; padding: 0; position: relative;}
.image-viewer .image-list img { position: absolute; top: 0; width: 100%; height: auto;}
.image-viewer .image-list img.previous-image {visibility: hidden; width: 0;}
.image-viewer .image-list img.current-image { visibility: visible; width: 100%;}

.image-viewer .spinner { width: 60px; display: block; margin: 0 auto; height: 30px; background: rgba(0, 0, 0, 0.2); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.image-viewer .spinner span { font-family: Arial, "MS Trebuchet", sans-serif; font-size: 12px; font-weight: bolder; color: #FFF; text-align: center; line-height: 30px; display: block;}


.image-viewer .static-image-list {display: none; position: relative;}
.image-viewer .static-image-list img {position: absolute; display: none; width: 100%; height: auto;}

.control-container {width: 300px; margin: 20px auto; display: none;}

/* Image navigation sidebar */
.navigation-container {float: left; width: 308px; height: 100%; margin-left: 10px; position: relative;}
a.threesixty-button {display: block; height: 60px; border: 1px solid #D9D9D9; background-repeat: repeat-x; background-size: cover; border-radius: 4px; text-align: center; cursor: pointer; box-shadow: 0 1px 2px rgba(0,0,0,0.1);}
a.threesixty-button span {display: block; width: 40px; height: 40px; line-height: 40px; background-color: rgba(0, 0, 0, 0.4); border-radius: 20px; margin: 10px auto; font-size: 10px; font-weight: bold; color: #fff;}

.static-images-button-list {width: 308px; margin-top: 10px;}
.static-images-button-list a {display: block; height: 60px; width: 94px; border-radius: 4px; margin: 0 10px 10px 0; background-size: contain; float: left; background-position: center; background-repeat: no-repeat; cursor: pointer; border: 1px solid #D9D9D9; box-shadow: 0 1px 2px rgba(0,0,0,0.1);}
.static-images-button-list a:nth-child(3n+0) {margin-right: 0;}

/* Zoom components */
.test-viewport {background-color: rgba(0, 0, 0, 0.05); position: absolute; pointer-events:none; z-index: 9999; display: none;}
#zoom-detail-container {width: 308px; height: 450px; background-repeat: no-repeat; border: 1px solid #D9D9D9; border-radius: 4px; display: none; background-color: #fff; position: absolute;}
img.zoom-enabled {cursor: crosshair;}





/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
	*z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 18px;
}
.noUi-horizontal .noUi-handle {
	width: 34px;
	height: 28px;
	left: -17px;
	top: -6px;
}
.noUi-horizontal.noUi-extended {
	padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
	right: -15px;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}
.noUi-vertical.noUi-extended {
	padding: 15px 0;
}
.noUi-vertical.noUi-extended .noUi-origin  {
	bottom: -15px;
}

/* Styling;
 */
.noUi-background {
	background: #FAFAFA;
	box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
	background: #3FB8AF;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
	transition: background 450ms;
}
.noUi-origin {
	border-radius: 2px;
}
.noUi-target {
	border-radius: 4px;
	border: 1px solid #D3D3D3;
	box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
	cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
	cursor: n-resize;
}
.noUi-handle {
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #FFF;
	cursor: default;
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #EBEBEB,
				0 3px 6px -3px #BBB;
}
.noUi-active {
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #DDD,
				0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 1px;
	background: #E8E7E6;
	left: 14px;
	top: 6px;
}
.noUi-handle:after {
	left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled] .noUi-handle {
	cursor: not-allowed;
}
